<!--side menu-->
<div ng-init="admin.getSubmissions()" class="container-fluid col-xs-2 col-md-2 col-lg-2 sideMenu">
  <div class="sideButtonContainer">
    <button ng-click="admin.showPendingGallery()" class="btn btn-default btn-lg btn-block sideButton" class="sideButton">Pending:&nbsp;{{admin.pendingCount}}</button>
    <button ng-click="admin.showApprovedGallery()" class="btn btn-default btn-lg btn-block sideButton" class="sideButton">Approved:&nbsp;{{admin.approvedCount}}</button>
    <button ng-click="admin.showRevisionGallery()" class="btn btn-default btn-lg btn-block sideButton" class="sideButton">Revision:&nbsp;{{admin.revisionCount}}</button>
    <button ng-click="admin.showAccess()" class="btn btn-default btn-lg btn-block sidesButton" class="sidesButton">Access</button>
    <button ng-click="admin.showBrands()" class="btn btn-default btn-lg btn-block sidesButton" class="sidesButton">Historical Sites</button>
  </div>
</div>

<!--dynamicly created gallary of images that are pennding, approved, or needs rivision-->
<!--pending-->
<div ng-show="((admin.pendingGalleryDisplay))" class="container-fluid" style="height: 650px; overflow: auto;">
  <h3>Pending Photos</h3>
  <div ng-repeat="pending in admin.pending" class="row col-xs-4 col-md-4 col-lg-4 text-center" class="row gallery-display">
    <div>
      <img ng-src="{{pending.saved_edit}}" alt="pending submission" class="img-responsive img-thumbnail"/>
    </div>
    <span>
      <button ng-click="admin.approveButton(pending, 'Approved')" class="btn btn-success">Approve</button>
      <button  ng-click="admin.modalImageData = pending; admin.modalAdminComment = pending.admin_comment; admin.modalUserComment = pending.user_comment; admin.modalImage = pending.saved_edit;
      admin.reviseButton(pending)" class="btn btn-danger">Revise</button>
      <button ng-click="admin.modalImageData = pending; admin.modalAdminComment = pending.admin_comment; admin.modalUserComment = pending.user_comment; admin.modalImage = pending.saved_edit;
      admin.viewButton(pending.department_id);" class="btn btn-info">View</button>
    </span>
  </div>
</div>
<!--approved-->
<div ng-show="((admin.approvedGalleryDisplay))" class="container-fluid" style="height: 650px; overflow: auto;">
  <h3>Approved Photos</h3>
  <div ng-repeat="approved in admin.aprroved" class="row col-xs-4 col-md-4 col-lg-4 text-center" class="row addContainer">
    <div>
      <img ng-src="{{approved.saved_edit}}" alt="approved submission" class="img-responsive img-thumbnail"/>
    </div>
    <span>
      <button ng-click="admin.deleteButton(approved)" class="btn btn-danger">Delete</button>
      <button ng-click="admin.modalAdminComment = approved.admin_comment; admin.modalUserComment = approved.user_comment; admin.modalImage = approved.saved_edit;
       admin.viewButtonApproved(approved.department_id); admin.modalImageData = approved" class="btn btn-info">View</button>
    </span>
  </div>
</div>
<!--revision-->
<div ng-show="((admin.revisionGalleryDisplay))" class="container-fluid" style="height: 650px; overflow: auto;">
  <h3>Photos under Revision</h3>
  <div ng-repeat="revision in admin.revision" class="row col-xs-4 col-md-4 col-lg-4 text-center">
    <div>
      <img ng-src="{{revision.saved_edit}}" alt="revision submission" class="img-responsive img-thumbnail" />
    </div>
    <span>
      <button ng-click="admin.deleteButton(revision)" class="btn btn-danger">Delete</button>
      <button ng-click="admin.modalAdminComment = revision.admin_comment; admin.modalUserComment = revision.user_comment; admin.modalImage = revision.saved_edit;
      admin.viewButtonApproved(revision.department_id); admin.modalImageData = revision;" class="btn btn-info">View</button>
    </span>
  </div>
</div>
<!--access controls-->
<div ng-show="((admin.accessControlsDisplay))" class="container text-center access-display">
  <div class="col-xs-4">
    <div class="row access" ng-show="admin.empPlus">
      <h4 class="user-select">Select Employee:</h4>
      <select class="user-select" ng-model="admin.selectedUser" ng-options="user.id as
      admin.pretty(user.first_name) + ' ' + admin.pretty(user.last_name) for user
      in admin.allUserAccess" ng-change="admin.showUser(admin.selectedUser); admin.clearDepts()">
      </select>
    </div>

    <div class="access current-access row" ng-show="admin.empPlus">
      <h4>Current Access</h4>
      <ul>
        <li ng-repeat="dept in admin.empDepts">{{admin.pretty(dept)}}</li>
      </ul>
    </div>

  </div>





  <div class="col-xs-5" ng-show="admin.empPlus" class="access">
    <button class="show-access-button" ng-click="admin.showNotEmpDepts=!admin.showNotEmpDepts; admin.showEmpDepts=false; admin.clearDepts();">Add Access <div class="arrow-down"></button>
    <button class="show-access-button" ng-click="admin.showEmpDepts=!admin.showEmpDepts; admin.showNotEmpDepts=false; admin.clearDepts();">Remove Access <div class="arrow-down"></button>

    <div ng-show="admin.showNotEmpDepts" class="access row edit-access" class="accesslist">
      <div class="add-access-container">
        <div ng-repeat="dept in admin.notEmpDepts" class="text-left">
          <input ng-model="admin[dept]" ng-init="admin[dept]=false" ng-change="admin.updateUsersAccesses(dept)" type="checkbox" />
          <label for="dept">{{admin.pretty(dept)}}</label>
        </div>
      </div>
    </div>

    <div ng-show="admin.showEmpDepts" class="access row edit-access" class="accesslist">
      <div class="add-access-container">
        <div ng-repeat="dept in admin.empDepts" class="text-left">
          <input ng-model="admin[dept]" ng-init="admin[dept]=false" ng-change="admin.updateUsersAccesses(dept)" type="checkbox" />
          <label for="dept">{{admin.pretty(dept)}}</label>
        </div>
      </div>
    </div>
    <div class="row submit-button-position">
      <button class="submit-button" ng-click="admin.submitChanges()" class="accessSubmit" style="color: #fff;background-color: #5cb85c;border-color: #4cae4c;">Submit</button><br />
    </div>
  </div><br /><br /><br /><br /><br /><br /><br /><br /><br />

<!--add Employee controlls-->
  <div  class="col-xs-3" style="">
    <div>
      <button ng-click="admin.addEmployeeTruthiness()" class="btn btn-default btn-sm show-access-button add-user"
      ng-init="admin.showAddEmployee=false; admin.empPlus=true" ng-show="admin.accessControlsDisplay" style="margin-top: 100px;">Add Employee

      <!-- <span ng-show="admin.empPlus" class="glyphicon glyphicon-plus pull-right"></span>
      <span ng-hide="admin.empPlus" class="glyphicon glyphicon-minus pull-right"></span> -->
    </button><br /><br />
      <form class="form-block">
        <div class="form-group">
          <label class="sr-only">First Name</label>
          <input ng-model="admin.firstName" type="text" class="form-control" placeholder="First Name">

          <label class="sr-only">Last Name</label>
          <input ng-model="admin.lastName" type="text" class="form-control" placeholder="Last Name">

          <label class="sr-only" for="exampleInputEmail3">Email address</label>
          <input ng-model="admin.newUser" type="email" class="form-control" placeholder="Email">
        </div>
          <button ng-click="admin.submitButton(); admin.empPlus=false" type="submit" class="btn btn-success btn-md">Submit</button>
      </form>
    </div>
  </div>

</div>

<!--brands-->
<div ng-show="((admin.brandsConsoleDisplay))" class="container upload-brands">
  <div class="col-xs-4 col-xs-offset-1">
    <div class="row preview-block" style="margin-left: 2px;">
      <img ng-show="admin.upload.file!=undefined" ngf-src="admin.upload.file" alt="Brand Preview" class="preview" />
    </div>

<!--historic site/deparment controlls-->
    <div class="row">
      <form enctype="multipart/form-data" name="uploadBrandForm" id="uploadBrandForm" role="main">
        <div class="row">
          <label ng-hide="admin.upload.file!=undefined" id="file-label" for="file-input">Please select a file</label>
          <input type="file" ng-model="admin.upload.file" ngf-select ngf-max-size="10MB" name="file-input" id="file-input"required>
        </div>
        <div class="row"><br />
          <select class="listedDepartment" ng-model="admin.upload.deptId" required><br />
            <option class="listedDepartment" value="" selected disabled>Select...</option><br />
            <option ng-repeat="name in admin.deptNames" ng-value="name.id">{{admin.prettyDeptName(name.department)}}</option>
          </select>
        </div><br />
        <div class="row">
          <input ng-model="admin.upload.color" placeholder="brand color" required/>
        </div><br />
        <input class="upload-brand-button" type="submit" ng-click="admin.uploadBrand(uploadBrandForm)" value="Upload Image" />
      </form><br />

    </div>

  </div><br />

  <span><h3 style="background-color: #eeb111; align-content: right; float: left">Add Historical Site</h3></span><br />
  <div class="container" style="text-align: right;"><br />
  <input class="addDepartment" type="text" ng-model="admin.newDepartment"/>
  <button ng-click="admin.addDepartment()" class="newDepartment">Add Site</button><br />

  <select class="addDepartment" ng-model="admin.remove" ng-options="name as admin.prettyDeptName(name.department) for name in admin.deptNames" required>
    <!-- <option value="" selected disabled>Select...</option> -->
    <!-- <option ng-repeat="name in admin.deptNames" ng-value="name">{{admin.prettyDeptName(name.department)}}</option> -->
  </select>
  <button ng-click="admin.deleteDepartment()" class="removeDepartment">Delete Site</button>
      </div>
</div>


<!--modal-->
<div id="adminModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span ng-click="admin.closeModal()" class="close">×</span>
      <h2>{{admin.prettyDeptName(admin.departmentName)}}</h2>
    </div>
    <div class="modal-body text-center">
      <!--image dynamicly created same image as image clicked-->
      <div>
        <h5 ng-show="((admin.showUserComment))">
          <img ng-src="{{admin.modalImage}}" alt="large version of image" />
          <div class="pull-right">
            <div ng-show="((admin.showInput))">
              <h4><u>Leave a comment</u></h4>
              <label class="sr-only">Text Area</label>
              <textarea class="form-control" rows="3" placeholder="Type a Comment Here" ng-model="admin.reviseComment"></textarea>
            </div>
            <h4><p><u>Employee Comment</u></p></h4>
            <p>{{admin.modalUserComment}}</p>
            <h4><p><u>Admin Comment</u></p></h4>
            <p>{{admin.modalAdminComment}}</p>
          </div>
        </h5>
      </div>
    </div>
    <div class="modal-footer">
      <span>
        <button ng-click="admin.approveButton(admin.modalImageData, admin.reviseComment)" ng-show="((admin.showApproved))" class="btn btn-success">Approve</button>
        <button ng-show="((admin.rivisionShow))" ng-click="admin.subReviseButton(admin.modalImageData)" class="btn btn-danger">Revise</button>
        <button ng-show="((admin.deleteShow))" ng-click="admin.deleteButton(admin.modalImageData)" class="btn btn-danger">Delete</button>
      </span>
    </div>
  </div>

</div>
