<!-- <nav class="navbar navbar-inverse navbar-static-top" >
<a href="http://www.mnhs.org/"><img alt="Minnesota Historical Society" src="/static/masthead/mnhs_org/img/mnhs-logo-white.svg" onerror="this.onerror=null;this.src='/static/masthead/mnhs_org/img/mnhs-logo-white.png';"></a> -->

<div class="container">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h2>Login Page Here!</h2>
<!-- Shown for users that are NOT logged in -->

<section ng-hide="nav.loggedIn">
 <!-- Googles sign-in button brand guidelines page -->
  <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_dark_focus_web.png"/></a>
  <!-- <p>
    <a href="/login">Login</a>
  </p> -->
</section>
<!-- Shown for users that are logged in -->
<section ng-show="nav.loggedIn">
  <p>
    You are logged in!
  </p>
</section>
</div>
<div class="col-md-4">
</div>
</div>

<!-- <nav class="navbar navbar-inverse navbar-static-top" >
<a href="http://www.mnhs.org/"><img alt="Minnesota Historical Society" src="/static/masthead/mnhs_org/img/mnhs-logo-white.svg" onerror="this.onerror=null;this.src='/static/masthead/mnhs_org/img/mnhs-logo-white.png';"></a><br />
<br />
<a href="/auth/google" target="_self"><img src="assets/btn_google_signin_dark_focus_web.png"/></a> -->
