<h1>Brand Image Manager</h1>

<div class="centeredblock">
    <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_light_pressed_web.png" /></a>
</div>


<div class="container">
    <div id="left" class="col-span-5">
<img src="assets/OKF__1.jpg" />
    </div>

    <div id="middle" class="col-span-3">
<img src="assets/OKF__40.jpg" />
    </div>

    <div id="right" class="col-span-5">
<img src="assets/OKF__181.jpg" />
    </div>

        <div class="col-span-2">
            <!-- <h1>Brand Image Manager</h1> -->
            <!-- <div class="centeredblock">
                <a href="/auth/google" target="_self"><img src="assets/btn_google_signin_light_pressed_web.png" /></a>
            </div> -->
        </div>
</div>

<!-- <footer class="navbar navbar-fixed-bottom"></footer> -->
