<div class="container">
<div class="col-md-4">
</div>




<header class="hero-tall-centercontent">

</div>
<div class="wrapper">
            <div class="t-shirt">
                <canvas width="600" height="400" id="canvas" ng-model="photo.canvas">Sorry, no canvas available</canvas>
                <!-- <img ng-src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/web04/2012/1/20/14/enhanced-buzz-21522-1327089192-28.jpg" id="hedgehog" style="background-color: green; display: none" alt="Description" /> -->

<div class="withinTheCanvas" style="width: 368px; position: absolute; left: 70%;">


    <h4 class="photoedit-heading">EDIT TEXT</h4>
    <h5 style="font-size: 12px; background-color: rgba(0, 0, 0, 0.2); font-family: 'Gotham Book'">Click on the text below to change it, then move onto the Edit Layout section!</h5>
    <p id="buttonHtml" contenteditable="true">BECOME A MEMBER OF THE MINNESOTA HISTORICAL SOCIETY AND GET THE BEST DEAL IN HISTORY, INCLUDING FREE REGULAR ADMISSION ALL YEAR LONG.</p>

<h4 class="photoedit-heading">EDIT LAYOUT</h4>
<h5 style="font-size: 12px; background-color: rgba(0, 0, 0, 0.2); font-family: 'Gotham Book'">Click on the circle buttons next to which overlay/template you'd like, then press Submit for Approval to upload the photo to be approved!</h5>

<form class="theForm">


<input type="radio" name="radios" id="Left" style="border: 0px; width: 4%; height: 2em" value="Left" /><div style="display: inline">Transparent Left</div><br />
<input type="radio" name="radios" id="Right" style="border: 0px; width: 4%; height: 2em" value="Right" /><div style="display: inline">Transparent Right</div><br />
<input type="radio" name="radios" id="Bottom" style="border: 0px; width: 4%; height: 2em" value="Bottom" /><div style="display: inline">Transparent Bottom</div><br />

<input type="radio" name="radios" id="fitLeft" style="border: 0px; width: 4%; height: 2em" value="Left" /><div style="display: inline">Fit Left</div><br />
<input type="radio" name="radios" id="fitRight" style="border: 0px; width: 4%; height: 2em" value="Right" /><div style="display: inline">Fit Right</div><br />
<input type="radio" name="radios" id="fitBottom" style="border: 0px; width: 4%; height: 2em" value="Bottom" /><div style="display: inline">Fit Bottom</div>

</form>



<a ng-hide="photo.canvasSaved" ng-click="photo.downloadCanvas()" id="downloadButton" style="font-size: 36px; cursor: pointer;">Submit for Approval</a>
<div ng-show="photo.canvasSaved" class="btn btn-success btn-lg">Success!</div>



        </div>
        <!-- <img ng-src="{{photo.imageSrc}}" crossorigin="anonymous" id="hedgehog" width="600" height="400" style="display: none" alt="HEJ HOG"> -->


                <!-- <a id="addTextRight" style="font-size: 36px">ADD TEXT RIGHT</a> -->



            </div>
</div>
        </div>
        <img ng-src="{{photo.brandSrc}}" crossorigin="anonymous" id="icon" style="display:none" />
        <img ng-src="{{photo.imageSrc}}" crossorigin="anonymous" id="hedgehog" width="600" height="400" style="display: none" alt="HEJ HOG">

</div>
