<div class="container">
<div class="col-md-4">
</div>




<header class="hero-tall-centercontent">

</div>
<div class="wrapper">
            <div class="t-shirt">
                <canvas width="600" height="400" id="canvas" ng-model="photo.canvas">Sorry, no canvas available</canvas>
                <!-- <img ng-src="https://img.buzzfeed.com/buzzfeed-static/static/enhanced/web04/2012/1/20/14/enhanced-buzz-21522-1327089192-28.jpg" id="hedgehog" style="background-color: green; display: none" alt="Description" /> -->

<br />
<div class="withinTheCanvas" style="width: 368px; position: absolute; left: 70%;">
                <p id="buttonHtml" style="width: 368px; overflow: auto" contenteditable="true">BECOME A MEMBER OF THE MINNESOTA HISTORICAL SOCIETY AND GET THE BEST DEAL IN HISTORY, INCLUDING FREE REGULAR ADMISSION ALL YEAR LONG.</p>
                <button type="button" id="theButton">Change Text</button>
<br />
                <!-- <a id="Left" style="font-size: 36px">Opaque Left</a>
                <a id="Right" style="font-size: 36px">Opaque Right</a>
                <a id="Bottom" style="font-size: 36px">Opaque Bottom</a> -->
                <!-- <hr />
                <a id="fitLeft" style="font-size: 36px">Left Fit</a>
                <a id="fitRight" style="font-size: 36px">Right Fit</a>
                <a id="fitBottom" style="font-size: 36px">Bottom Fit</a>
<hr /> -->
                <a ng-click="photo.downloadCanvas()" id="downloadButton" style="font-size: 36px">Upload to Amazon Database</a>

<br />
<form class="theForm">

<input type="radio" name="radios" id="Left" style="border: 0px; width: 4%; height: 2em" value="Left" /><div style="display: inline">Opaque Left</div><br />
<input type="radio" name="radios" id="Right" style="border: 0px; width: 4%; height: 2em" value="Right" /><div style="display: inline">Opaque Right</div><br />
<input type="radio" name="radios" id="Bottom" style="border: 0px; width: 4%; height: 2em" value="Bottom" /><div style="display: inline">Opaque Bottom</div><br />

<input type="radio" name="radios" id="fitLeft" style="border: 0px; width: 4%; height: 2em" value="Left" /><div style="display: inline">Fit Left</div><br />
<input type="radio" name="radios" id="fitRight" style="border: 0px; width: 4%; height: 2em" value="Right" /><div style="display: inline">Fit Right</div><br />
<input type="radio" name="radios" id="fitBottom" style="border: 0px; width: 4%; height: 2em" value="Bottom" /><div style="display: inline">Fit Bottom</div>

</form>


                <!-- <a id="addTextLeft" style="font-size: 36px">ADD TEXT LEFT</a> -->
                <a id="updateTextLeft">Update Opaque Left Text</a>
                <br />
                <a id="updateTextFitLeft">Update the Left Fit Text</a>
                <p id="textHtmlLeft" style="display: none"></p>
<br />
                <a id="updateTextRight">Update Opaque Right Text</a>
                <br />
                <a id="updateTextFitRight">Update the Right Fit Text</a>
                <p id="textHtmlRight" style="display: none"></p>
                <br />


                <!-- <a id="addTextBottom" style="font-size: 36px">ADD TEXT BOTTOM</a> -->
                <a id="updateTextBottom">Update the Opaque Bottom Text</a>
                <br />
                <a id="updateTextFitBottom">Update the Bottom Fit Text</a>
                <p id="textHtmlBottom" style="display: none"></p>

<br />

        </div>
        <!-- <img ng-src="{{photo.imageSrc}}" crossorigin="anonymous" id="hedgehog" width="600" height="400" style="display: none" alt="HEJ HOG"> -->


                <!-- <a id="addTextRight" style="font-size: 36px">ADD TEXT RIGHT</a> -->



            </div>
</div>
        </div>
        <img ng-src="{{photo.brandSrc}}" id="icon" style="display:none" />
        <img ng-src="{{photo.imageSrc}}" crossorigin="anonymous" id="hedgehog" width="600" height="400" style="display: none" alt="HEJ HOG">

</div>
