
/*set to zero*/
body{
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  background-color: #F0F8FF;
}
h1 {
  margin-top: 0%;
  padding-top: .4444444444rem;
  padding-bottom: .4444444444rem;
  line-height: 1.125;
  font-size: 3.1666666667rem;
  font-weight: 600;
  font-family: helvetica;
  display: block;
  text-align: center;
  background-color: #eeb111;
}
.sideButton {
  background-color: #323e48;
  color: white;
  outline: none;
  /*border: none;*/
  box-shadow: none;
  text-decoration: none;
}
/*.adminpage {
  background-color: #323e48;
  color: white;
}*/
.sideButton:hover {
  background-color: #eeb111;
  color: #323e48;
  outline: none;
  box-shadow: none;
}
.sidesButton {
  background-color: #eeb111;
  color: #323e48;
  outline: none;
}
.sidesButton:hover {
  background-color: white;
}
.img-thumbnail {
  margin: 10px;
}
.btn:focus {
  outline: none;
}
#left img {
  align-items: left;
  background-size: cover;
  justify-content: left;
  float: left;
  padding-top: -8%;
  width:50%;
  height: auto;
  margin-left: -14%;
  padding-right: 5%;
  /*padding-left: 0%;*/
  margin-right: 0%;
}
#right img {
  align-items: right;
  background-size: cover;
  justify-content: right;
  float: right;
  width:50%;
  height: auto;
  margin-right: -13%;
  padding-left: 5%;
  margin-top: -30%;
  margin-left: -14%;
  padding-right: -8%;
}
#middle img {
  align-items: center;
  background-size: cover;
  justify-content: center;
  float: center;
  padding-top: -8%;
  width:50%;
  height: auto;
  padding-right: 5%;
  margin-left: -10%;
}

/*.hero_tall {
  padding-top: 12vh;
  padding-bottom: 12vh;
  overflow-x: hidden;
  overflow-y: hidden;
}*/
/*.hero {
  display: flex;
  color: white;
  flex-direction: column;
}*/
/*.home .hero {
    text-align: center;
}*/

.centeredblock {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
  background-color: #eeb111;
  width: 100vw;
  height: 100vh;
}

/*top navbar */
.navbar {
  border-bottom: 1px solid #323e48;
  border-left: 1px solid #323e48;
  color:#323e48;
  background-color: #323e48;
  background-image: none;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
 /*side admin menu bar*/
.sideMenu{
  color: white;
  background-color: #323e48;
  height: 87vh;
}
.sideButtonContainer{
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}
.sideButtonContainer2{
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
#not{
  overflow: scroll;
}
.zach{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col{
  width: 30%;
}
/*remove the rounded corners for the acordion buttons*/
.acordionButton{
  border-radius: 0;
}
.picLogo {
  /*height: auto;
  width: 22%;*/
  padding: 2%;
}
/*modal styles and animation*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #323e48;
  color: white;
}
.modal-body {
  padding: 2px 16px;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #323e48;
  color: white;
  width: 100%;
}
.glyphicon {
  color: white;
  font-size: 125%;
}
.glyphicon:hover {
  color: #eeb111;
}
.icon {
  font-family: helvetica;
}
/* photoUploader.html */
.preview-block {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 10px;
}
.preview {
  padding-top: 0;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.withinTheCanvas {
  position: absolute;
  top: 100px;
  right: 600px;
}
@font-face {
  font-family: 'Gotham Black';
  src: local('GothamBlack'), url(./fonts/Gotham-Black.ttf);
}
@font-face {
  font-family: 'Gotham Book';
  src: local('Gotham-Book'), url(./fonts/Gotham-Book.ttf);
}
@font-face {
  font-family: 'Gotham Bold';
  src: local('Gotham Bold'), url(./fonts/Gotham-Bold.ttf);
}
@font-face {
  font-family: 'Gotham Condensed Book';
  src: local('GothamCondensed-Book'), url(fonts/GothamCondensed-Book.ttf);
}
#downloadButton {
  font-family: 'Gotham Condensed Book';
}


#buttonHtml {
  background-color: #EAEAEA;
}
/* Temporary styling for gallery and photoUploader pages*/
.addPhoto, .addPhoto:active, .addPhoto:visited {
  background-color: lightslategray;
  color: white;
  font-size: 70px;
  text-align: center;
  height: 150px;
  width: 150px;
  padding-top: 38px;
  cursor: pointer;
}
.addPhoto:hover {
  text-decoration: none;
  background-color: #bbb;
  color: gray;
}
.addContainer {
  text-align: center;
  margin-bottom: 20px;
}
.upload {
  text-align: center;
}
#file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.#file-input + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}
.file-upload {
  text-align: center;
}
#file-input:focus, #file-label,
#file-input {
  background: linear-gradient(#444, white);
  color: #263238;
  padding: 10px;
  font-weight: normal;
}
#file-label:hover {
  background: linear-gradient(darkslategray, lightslategray);
  color: white;
}
#file-input, #file-label {
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
}
.gallery-display {
  height: 200px;
  margin: 0 auto 20px auto;
  text-align: center;
  cursor: pointer;
}
.gallery-item {
  margin: 0 auto;
  height: 170px;
}
.success {
  margin-top: 60px;
  font-size: 50px;
}
.overflow {
  overflow: scroll;
  height: 87vh;
  width: 29%;
}
.disabled {
  cursor: not-allowed;
}
.access-display {
  margin-top: 20px;
}
.access {
  text-align: left;
  padding-left: 30px;
}
.current-access > ul > li{
  background-color: lightgray;
  padding: 5px;
}
.current-access > ul {
  list-style-type: none;
  padding: none;
}
.user-access {
  height: 150px;
}
.edit-access {
  overflow: scroll;
  height: 150px;
  position: absolute;
  margin-left: 30px;
  top: 35px;
}
.add-access-container {
  background: lightgray;
  padding: 0 5px;
  width: 300px;
}
.show-access-button {
  margin-top: 5px;
  background: lightgray;
  width: 40%;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  padding-right: 20px;
  width: 140px;
}
.show-access-button:hover, .show-access-title:hover,
.show-access-button:hover > span{
  color: white;
  background: darkgray;
}
.show-access-title {
  position: relative;
  padding-right: 20px;
}
.show-access-button:hover {
  text-decoration: underline;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  position: absolute;
  top: 10px;
  right: 5px;
  display: inline;
}
.user-select {
  display: inline;
}
.submit-button {
  /*background: lightgray;*/
  width: 40%;
  top: 200px;
  position: relative;
}
.submit-button:hover {
  /*color: white;*/
  /*background: darkgray;*/
  text-decoration: underline;
}

.welcome {
  color: white;
  text-transform: capitalize;
  position: absolute;
  bottom: -25px;
  left: 20%;
}
.newDepartment {
  margin: 20px;
}

.addDepartment {
  margin: 20px;

}
.removeDepartment {
  margin:20px;
}
.add-user {
  display: inherit;
  margin-left: 20px;
}
.glyphicon {
  right: -6px;
}
.form-inline {
  margin-top: 20px;
}

.container {
  align-content: left;
}

.listedDepartment {
  padding: 5px;
}
.make-selection {
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}
.make-selection > h2 {
  background-color: #eeb111;
  width: 450px;
  margin: 0 auto;
  padding: 30px;
}
.show-access-button > span {
  color: black;
}
.modal-size {
  max-width: 60vw;
  max-height: 60vh;
}
.upload-form-button {
  background: linear-gradient(#444, white);
  color: #263238;
  padding: 10px;
  font-weight: normal;
}
.upload-form-button:hover {
  background: linear-gradient(darkslategray, lightslategray);
  color: white;
}
